<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary shadow">
  <a class="navbar-brand" href>Preplan and Protect</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navaigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link {{ preplans.homeVisible? 'active' : '' }}" href="javascript:void(0);" (click)="preplans.showHome()">Home <span class="sr-only" *ngIf="preplans.homeVisible">(current)</span></a>
      <a class="nav-item nav-link {{ preplans.preplanListVisible ? 'active' : '' }}" href="javascript:void(0);" (click)="preplans.showPreplanList()">View All Preplans <span class="sr-only" *ngIf="preplans.preplanListVisible">(current)</span></a>
    </div>
  </div>
</nav>
