<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary shadow">
  <a class="navbar-brand" href>Preplan and Protect</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navaigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
      <li class="nav-item {{ preplans.homeVisible? 'active' : '' }}">
        <a class="nav-link" href="javascript:void(0);" (click)="preplans.showHome()">Home <span class="sr-only" *ngIf="preplans.homeVisible">(current)</span></a>
      </li>
      <li class="nav-item {{ preplans.preplanListVisible ? 'active' : '' }}">
        <a class="nav-link " href="javascript:void(0);" (click)="preplans.showPreplanList()">View All Preplans <span class="sr-only" *ngIf="preplans.preplanListVisible">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="javascript:void(0);" (click)="preplans.backupAll()">Backup Data</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="preplans.showRestore()">Restore from Backup</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
