.modal-lg {
  width: 90% !important;
  max-width: 90% !important;
}

.modal-dialog, .modal-content {
  min-height: 93vh;
}

.actions i {
  margin-right: 8px;
}

.actions i:hover {
  color: rgb(108, 117, 125);
}
