<form>
  <div class="form-group">
    <label for="lifeHazard">Life Hazard</label>
    <select class="custom-select" id="lifeHazard" name="lifeHazard" [(ngModel)]="preplans.current_preplan && preplans.current_preplan.lifeHazard">
      <option [ngValue]="1">Low Life Hazard (Less than 25 occupants)</option>
      <option [ngValue]="2">Medium Life Hazard (25 - 99 occupants)</option>
      <option [ngValue]="3">High Life Hazard (100 or more occupants)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="buildingUsage">Building Usage</label>
    <select class="custom-select" id="buildingUsage" name="buildingUsage" [(ngModel)]="preplans.current_preplan && preplans.current_preplan.buildingUsage">
      <option [ngValue]="1">Office/Small Business</option>
      <option [ngValue]="2">Residential</option>
      <option [ngValue]="3">Industrial/High Life Hazard/Large Business</option>
    </select>
  </div>
  <div class="form-group">
    <label for="communityImpact">Community Impact</label>
    <select class="custom-select" id="communityImpact" name="communityImpact" [(ngModel)]="preplans.current_preplan && preplans.current_preplan.communityImpact">
      <option [ngValue]="1">Minor Impact (minor casualty/family loss)</option>
      <option [ngValue]="2">Moderate Impact (high casualty/job loss/tax/food store)</option>
      <option [ngValue]="3">Severe Impact (irreplaceable/historical/hospital)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="buildingConstruction">Building Construction</label>
    <select class="custom-select" id="buildingConstruction" name="buildingConstruction" [(ngModel)]="preplans.current_preplan && preplans.current_preplan.buildingConstruction">
      <option [ngValue]="1">Non-Combustibility</option>
      <option [ngValue]="2">Limited Combustibility</option>
      <option [ngValue]="3">Combustible</option>
    </select>
  </div>
  <div class="form-group">
    <label for="hazardIndex">Hazard Index</label>
    <select class="custom-select" id="hazardIndex" name="hazardIndex" [(ngModel)]="preplans.current_preplan && preplans.current_preplan.hazardIndex">
      <option [ngValue]="1">Limited/Common/Residential</option>
      <option [ngValue]="2">Simple/Moderate/Business</option>
      <option [ngValue]="3">Complex/Multiple/Industrial/Special</option>
    </select>
  </div>
  <div class="form-group">
    <label for="numberOfStories">Number of Stories</label>
    <select class="custom-select" if="numberOfStories" name="numberOfStories" [(ngModel)]="preplans.current_preplan && preplans.current_preplan.numberOfStories">
      <option [ngValue]="1">Single Story Building</option>
      <option [ngValue]="2">2 Story Building</option>
      <option [ngValue]="3">3 or more stories (or 40 feet high or more)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="waterSupply">Water Supply (within 800 feet) - 2 Closest Hydrants #'s </label>
    <select class="custom-select" id="waterSupply" name="waterSupply" [(ngModel)]="preplans.current_preplan && preplans.current_preplan.waterSupply">
      <option [ngValue]="1">2 Hydrants at 1000 GPM or over</option>
      <option [ngValue]="2">1 at 1000 GPM or over, and 1 less than 1000 GPM</option>
      <option [ngValue]="3">0 or 1 Hydrant (with less than 1000 GPM)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="squareFootage">Square Footage </label>
    <select class="custom-select" id="squareFootage" name="squareFootage" [(ngModel)]="preplans.current_preplan && preplans.current_preplan.squareFootage">
      <option [ngValue]="1">7,500 Square Feet or Less</option>
      <option [ngValue]="2">7,501 to 14,999 Square Feet</option>
      <option [ngValue]="3">15,000 Square Feet or More</option>
    </select>
  </div>

  <div class="d-flex flex-row justify-content-center">
    <div class="riskRating riskRating{{preplans.current_preplan?.riskCategory}}" *ngIf="preplans.current_preplan && preplans.current_preplan.riskRating != 0">
      <div class="category">Risk Rating</div>
      <div class="number">{{preplans.current_preplan?.riskRating}}</div>
      <div class="category">{{preplans.current_preplan?.riskCategory}}</div>
    </div>
  </div>

</form>
